@{
    ViewBag.Title = "?? What is BookReader! ??";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<img src="~/icons/book-icons.jpg" width="100" height="100"/>
<h2>What Kind of benefits you can get by using this application?</h2>
<li>
    <ol>You can store your favorite book image, and summary</ol>
    <ol>You can share your summary of books with other users </ol>
</li>