@{
    ViewBag.Title = "Login";
}



<div class="loginForm" >
<p>User Name : </p><input id="userName" type="text" />
<p>PassWord : </p><input id="passWord" type="text" />
 <input id="SubmitBtn" type="submit" value="submit" />

<p>forget password?</p>

</div>