

@{
    Layout = "~/Views/Home/About.cshtml";
   
}


<p>Reset Password</p>


<p>Password</p><input id="newpassword" type="text" />
<p>confirm</p><input id="confirm" type="text" />

<input id="SubmitPass" type="submit" value="submit" />


